<div class="main">


  <div class="hero">
    <div class="content">

      <img src="assets/hero_banner.png" alt="hero_banner" class="hero_banner">
      <div class="info">

        <span class="head">The deals start now!</span>
        <span class="desc">Get over 85% off select phones when you switch to Canada's fastest 5G network.</span>
        <a href="https://www.bell.ca/Mobility/Smartphones_and_mobile_internet_devices#INT=MOB_hmpg_BAN_BlackFriday85Percent_111023_NW" class="learn_more">Learn More</a>

      </div>

    </div>
  </div>


  <div class="links">

    <span class="notice">We’re extending the waiving of Home phone and Mobility postpaid long distance and texting charges from Canada to Israel, Gaza and the West Bank until November 30. No action is required by our customers.</span>

    <div class="list">

      <div class="link_item">
        <div class="img"><img src="assets/sell_icon.png" alt="" class="icon"></div>
        <span>Black Friday</span>
      </div>

      <div class="link_item">
        <div class="img"><img src="assets/phone_icon.png" alt="" class="icon"></div>
        <span>Mobility</span>
      </div>

      <div class="link_item">
        <div class="img"><img src="assets/laptop_icon.png" alt="" class="icon"></div>
        <span>Internet</span>
      </div>

      <div class="link_item">
        <div class="img"><img src="assets/devices_icon.png" alt="" class="icon"></div>
        <span>Bundles</span>
      </div>

      <div class="link_item">
        <div class="img"><img src="assets/tv_icon.png" alt="" class="icon"></div>
        <span>TV</span>
      </div>

      <div class="link_item">
        <div class="img"><img src="assets/smarthome_icon.png" alt="" class="icon"></div>
        <span>Smart Home</span>
      </div>

      <div class="link_item">
        <div class="img"><img src="assets/watch_icon.png" alt="" class="icon"></div>
        <span>Connected Things</span>
      </div>

      <div class="link_item">
        <div class="img"><img src="assets/store_icon.png" alt="" class="icon"></div>
        <span>Business</span>
      </div>

    </div>

  </div>


  <div class="promos">
    <div class="cards">

      <div class="card">

        <div class="info">
          <span class="title">Trade in your old device and save.</span>
          <span class="desc">Get a credit up to $700 when you trade in your old phone.</span>
          <a href="https://www.bell.ca/Mobility/Trade-in-program#INT=MOB_hmpg_BAN_700Trade-in_Mass_111221_NW_adtg">Learn more</a>
        </div>

        <img src="/assets/trade_in_banenr.png" alt="">

      </div>

    </div>
  </div>

</div>
