.splash {
  @media (max-width: 768px) {
    display: block !important;
    margin: auto;
    text-align: center;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 24px;

  img {
    @media (max-width: 768px) {
      width: 80vw;
    }
    width: 25vw;
  }
}

app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
