# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
env/
venv/
image captioner/Demo2/flickr8k
image captioner/Demo2/test_examples
image captioner/Demo2/runs/flickr
image captioner/Demo2/checkpoint_epoch_1.pth
image captioner/Demo2/model_epoch_1.pkl
image captioner/Demo2/my_checkpoint.pth
image captioner/Demo2/my_checkpoint.pth.tar
image captioner/Demo2/vocab.pkl
image captioner/Demo2/myenv
.venv

# System files
.DS_Store
Thumbs.db
# virtual env
env
backend/.env
*.pyc

# Training data images
image classifier/data/formatted
image classifier/data/augmented