<div class="main">
  <div class="greeting">
    <p>Good evening.</p>
    <h1>Lucas Hartman</h1>
  </div>

  <div class="carousel">

    <div class="card">

      <div class="info">

        <span class="bigger">Exclusive offer</span>
        <span>Account number: 1234567</span>
        <span class="title">Get a $5/mo. credit on Bell Smart...</span>
        <a href="https://mybell.bell.ca/#">Learn more</a>
        <a href="tel://18778520521" class="button">Call 1 877 852 0521</a>

      </div>

      <img src="https://mybell.bell.ca/Styles/images/personalized_tiles/Bell/BSH_Mobile_TextLeft_EN.png" alt="">
    </div>

    <div class="card">

      <div class="info">

        <span class="bigger">Bell Internet</span>
        <span>User ID: 1234567</span>
        <span class="title">Cover every room with Bell Wi-Fi pods.</span>
        <a href="https://mybell.bell.ca/#">Learn more</a>
        <a href="https://m.bell.ca/wifipodsedmtriggere" class="button">Order now</a>

      </div>

      <img src="https://mybell.bell.ca/Styles/images/personalized_tiles/Bell/MYB_279a_WiFi_6E_pods_Themed.png" alt="">
    </div>

    <div class="card">

      <div class="info">

        <span class="bigger">Black Friday</span>
        <span class="title">Great network. Great devices. Great prices.</span>
        <a href="https://mybell.bell.ca/#">Learn more</a>
        <a href="https://m.bell.ca/addalinegenerale" class="button">Shop online</a>

      </div>

      <img src="https://mybell.bell.ca/Styles/images/personalized_tiles/Bell/BF_432x530Desktop_EN.png" alt="">
    </div>

  </div>

  <div class="bills">

    <div class="head">

      <div class="billing_status">
        <div class="billing_info">
          <span class="title">One Bill</span>
          <span class="desc">1234567</span>
        </div>

        <div class="payment_details">
          <span class="balance">$0.00</span>
          <div class="payment">
            <button class="make_payment">Make a payment</button>
            <button class="view_bill">View current bill</button>
          </div>
        </div>
      </div>

      <hr>

      <span class="payment_method">Pre-authorized payment: VISA</span>

    </div>

  </div>

</div>

<app-plugin></app-plugin>
