<div>

  <div class="content">
    <img src="assets/bell_logo.png" class="bell_logo">

    <div class="links">
      <a href="https://www.bell.ca/Mobility/Our_network?INT=ALL_all_TXT_topnavtest_Mass_092023_mb">Mobility</a>
      <a href="https://www.bell.ca/Bell_Internet/Products/WiFi?INT=ALL_all_TXT_topnavtest_Mass_092023_mb">Internet</a>
      <a href="https://www.bell.ca/Bell_TV?INT=ALL_all_TXT_topnavtest_Mass_092023_mb">TV</a>
      <a href="https://www.bell.ca/Bell_TV?INT=ALL_all_TXT_topnavtest_Mass_092023_mb">Smart Home</a>
      <a href="https://www.bell.ca/Home_phone?INT=ALL_all_TXT_topnavtest_Mass_092023_mb">Home Phone</a>
      <a href="https://www.bell.ca/Bell-bundles?INT=ALL_all_TXT_topnavtest_Mass_092023_mb">Bundles</a>
      <a href="http://support.bell.ca/?INT=ALL_all_TXT_topnavtest_Mass_092023_mb">Support</a>
    </div>

    <div class="actions">
      <button class="search"></button>
      <button class="cart"></button>
      <a href="/login" class="login" >Login in/Register</a>
    </div>
  </div>

</div>
